#navbar-bg {
    background-color: #555759;
    height: 75px;
}

#navbar-stripe {
    height: 4px;
    background-color: #000;
}

#navbar-logo {
    height: 70px;
    transform: translate(-50%, -20%);
    left: 50%;
    position: absolute;
}

.navbar {
    border: 0 !important;
}