<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time2Study</title>
    <link rel="stylesheet" href="/static/css/calendar.css">
    <link rel="stylesheet" href="/static/css/main-theme.css">
    <link rel="stylesheet" href="/static/dist/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dist/bootstrap-select-1.12.4/css/bootstrap-select.min.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-brand">
            <img src="/static/images/logo.png" height="58" width="229"/>
        </div>
        <div class="navbar-gap" >

        </div>
    </div>
    <div class="paper-selector">
        <select class="selectpicker" id="paper_selection" data-live-search="true" title="Select a paper" onmouseup="addPaper()" data-size="10" data-max-options="4">
            {% for paper in _paper_data %}
                {{ _paper_id }}
                {% set _paper_id = paper.paper_id %}
                {% set _paper_name = paper.paper_name %}
                <option value="{{ _paper_id }}" data-tokens="{{ _paper_id }} {{_paper_name}} " data-subtext="{{_paper_id}}">{{ _paper_name }}</option>
            {% endfor %}

        </select>
        <div id="paperButtons"/>

    </div>

    <div class="calendar">

        <div class="day-heading"></div>
        <div class="day-heading">Monday</div>
        <div class="day-heading">Tuesday</div>
        <div class="day-heading">Wednesday</div>
        <div class="day-heading">Thursday</div>
        <div class="day-heading">Friday</div>

        <div class="column time-keys">
            <div class="time-key">8am</div>
            <div class="time-key">9am</div>
            <div class="time-key">10am</div>
            <div class="time-key">11am</div>
            <div class="time-key">12am</div>
            <div class="time-key">1pm</div>
            <div class="time-key">2pm</div>
            <div class="time-key">3pm</div>
            <div class="time-key">4pm</div>
            <div class="time-key">5pm</div>
            <div class="time-key">6pm</div>
            <div class="time-key">7pm</div>
            <div class="time-key">8pm</div>
            <div class="time-key">9pm</div>
        </div>

        {% for day in ['monday', 'tuesday','wednesday','thursday','friday'] %}
            <div id={{day}}>
            {% for hour in ['08','09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'] %}
                <div id="{{day}}-{{hour}}" class="time-slot">
                {% for quarter in ['1', '2', '3', '4'] %}
                    <div id="{{day}}-{{hour}}-{{quarter}}" class="time-slot-quarter"></div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}

    </div>

    <button type="button" class="btn" id="update" onclick="updateTimetable()">Update timetable</button>

</body>

<footer>

    <script src="/static/dist/jQuery/jquery-3.2.1.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/dist/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/dist/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
</footer>
</html>